---
interface Props {
    title: string;
    album: string;
    artist: string;
    explciit: boolean;
    id: string;
    coverURL: string;
}

import Image from "astro/components/Image.astro";

import spotifyIcon from "../assets/spotify_icon.svg";
import copyIcon from "../assets/copy.svg";

import ExplicitIcon from "../components/icons/ExplicitIcon.astro";
---

<article
    class="text-left shadow-outline2xl rounded-3xl overflow-hidden clearfix m-auto mb-8 w-full"
    transition:name="card"
>
    <!-- <img
        src={Astro.props.coverURL}
        class="float-left size-32 rounded-lg mr-4"
    /> -->
    <div class="flex items-center">
        <Image
            src={Astro.props.coverURL}
            alt="loading..."
            class="rounded-lg shadow-xl ml-4 my-4 sm:w-32 w-20"
            loading="eager"
            width={128}
            height={128}
        />
        <div class="overflow-hidden">
            <div
                class="overflow-hidden [mask-image:linear-gradient(to_right,transparent,#000_1rem,#000_90%,transparent)]"
            >
                <div
                    class="flex flex-row items-center gap-2 pl-4 mb-1 mt-1 animate-scroll animation-delay-halfway w-[34rem]"
                >
                    <span
                        class="whitespace-nowrap m-0 text-base sm:text-3xl font-bold leading-0"
                    >
                        {Astro.props.title}
                    </span>

                    {Astro.props.explciit ? <ExplicitIcon /> : null}
                </div>
            </div>

            <div
                class="overflow-hidden [mask-image:linear-gradient(to_right,transparent,#000_1rem,#000_90%,transparent)]"
            >
                <div
                    class="flex flex-col gap-0 animate-scroll animation-delay-halfway w-[34rem]"
                >
                    <span class="pl-4 mb-0 sm:text-base text-sm font-bold">
                        {Astro.props.album}
                    </span>
                    <span class="pl-4 sm:text-base text-sm">
                        {Astro.props.artist}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="px-4 pb-4 flex sm:flex-row flex-col sm:gap-4 gap-2">
        <a
            class="flex-1 no-underline duration-500"
            href=`https://open.spotify.com/track/${Astro.props.id}`
        >
            <button
                class="w-full p-4 rounded-lg shadow-outlinexl hover:shadow-outline2xl transition-shadow duration-500 sm:h-16 h-10 text-white flex flex-row items-center justify-center gap-3"
            >
                <img
                    src={spotifyIcon.src}
                    class="sm:h-7 h-5"
                    alt="Spotify icon"
                />
                <p class="mb-0">listen on spotify</p>
            </button>
        </a>
        <a class="flex-1 no-underline duration-500" id="copy-link">
            <button
                class="w-full p-4 rounded-lg flex-1 shadow-outlinexl hover:shadow-outline2xl transition-shadow duration-500 sm:h-16 h-10 text-white flex flex-row items-center justify-center gap-3"
            >
                <img src={copyIcon.src} class="sm:h-7 h-5" alt="Copy icon" />
                <p class="mb-0" id="copy-text">copy link</p>
            </button>
        </a>
    </div>
</article>

<script>
    const copyLinkElement = document.getElementById(
        "copy-link"
    ) as HTMLLinkElement;
    copyLinkElement.onclick = function () {
        const copyTextElement = document.getElementById(
            "copy-text"
        ) as HTMLParagraphElement;
        navigator.clipboard.writeText(window.location.href);
        copyTextElement.innerText = "link copied!";
    };
</script>

<style>
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
</style>
