---
interface Props {
    title: string;
    album: string;
    artist: string;
    id: string;
    coverURL: string;
}
---

<article
    class="text-left shadow-2xl rounded-3xl overflow-hidden clearfix max-w-[50rem] m-auto flex items-center"
    transition:name="card"
>
    <!-- <img
        src={Astro.props.coverURL}
        class="float-left size-32 rounded-lg mr-4"
    /> -->
    <img
        src={Astro.props.coverURL}
        alt=`loading...`
        width="150"
        height="150"
        class="rounded-lg shadow-xl ml-4 my-4"
    />
    <div class="overflow-hidden">
        <div class="overflow-hidden max-w-[38rem] [mask-image:linear-gradient(to_right,transparent,#000_1rem,#000_90%,transparent)]">
            <h2 class="pl-4 mb-2 mt-0 whitespace-nowrap inline-block animate-scroll animation-delay-halfway">
                {Astro.props.title} <span class="select-none">&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;</span>
            </h2>
        </div>

        <p class="pl-4">
            <b>{Astro.props.album}</b><br />
            {Astro.props.artist}
        </p>
        <p class="pl-4 mb-0">
            <small
                ><a href=`https://open.spotify.com/track/${Astro.props.id}`>listen on spotify</a> &CenterDot; <a
                    id="copy-link">copy link</a
                ></small
            >
        </p>
    </div>
</article>

<script>
    const copyLinkElement = document.getElementById("copy-link") as HTMLLinkElement;
    copyLinkElement.onclick = function() {
        navigator.clipboard.writeText(window.location.href);
        copyLinkElement.innerText = "link copied!"
    }
</script>

<style>
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
</style>
