<article
    class="text-left shadow-lg rounded-3xl p-4 overflow-hidden clearfix max-w-xl m-auto flex items-center space-x-4"
>
    <!-- <img
        src={Astro.props.coverURL}
        class="float-left size-32 rounded-lg mr-4"
    /> -->
    <img
        src="/fallback.png"
        alt=`loading...`
        width="150"
        height="150"
        class="rounded-lg"
        id="cover"
    />
    <div class="overflow-hidden">
        <div class="overflow-x-auto scroll-smooth">
            <h2 class="mb-2 mt-0 whitespace-nowrap inline-block" id="title">
                loading...
            </h2>
        </div>

        <p id="artist">loading...</p>
        <p class="mb-0">
            <small><a id="link">listen on spotify</a></small>
        </p>
    </div>
</article>

<script>
    const response = await fetch(
        "https://spotify-api-handler.aideniscool473.workers.dev/"
    );
    const randomSong = await response.json();

    const coverURL = randomSong.coverURL;
    const coverElement = document.getElementById("cover") as HTMLImageElement;
    coverElement.src = coverURL;

    const title = randomSong.title;
    const album = randomSong.album;
    const titleElement = document.getElementById("title") as HTMLHeadingElement;

    if (title == album) { // it's a single
        titleElement.innerText = `${title}`;
    } else {
        titleElement.innerText = `${title} - ${album}`;
    }
    

    const artist = randomSong.artist;
    const artistElement = document.getElementById(
        "artist"
    ) as HTMLParagraphElement;
    artistElement.innerText = artist;

    const link = `https://open.spotify.com/track/${randomSong.id}`;
    const linkElement = document.getElementById("link") as HTMLLinkElement;
    linkElement.href = link;
</script>

<style>
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
</style>
