---
interface Props {
    title: string;
    album: string;
    artist: string;
    id: string;
    coverURL: string;
}
---

<article
    class="text-left shadow-xl rounded-3xl p-4 overflow-hidden clearfix max-w-xl m-auto flex items-center space-x-4"
    transition:name="card"
>
    <!-- <img
        src={Astro.props.coverURL}
        class="float-left size-32 rounded-lg mr-4"
    /> -->
    <img
        src={Astro.props.coverURL}
        alt=`loading...`
        width="150"
        height="150"
        class="rounded-lg"
    />
    <div class="overflow-hidden">
        <div class="overflow-x-auto scroll-smooth [mask-image:linear-gradient(to_right,#000_80%,transparent)]">
            <h2 class="mb-2 mt-0 whitespace-nowrap inline-block ">
                {Astro.props.title} <span class="select-none">&ThickSpace;&ThinSpace;</span>
            </h2>
        </div>

        <p>
            <b>{Astro.props.album}</b><br />
            {Astro.props.artist}
        </p>
        <p class="mb-0">
            <small
                ><a href=`https://open.spotify.com/track/${Astro.props.id}`>listen on spotify</a> &CenterDot; <a
                    id="copy-link">copy link</a
                ></small
            >
        </p>
    </div>
</article>

<script>
    const copyLinkElement = document.getElementById("copy-link") as HTMLLinkElement;
    copyLinkElement.onclick = function() {
        navigator.clipboard.writeText(window.location.href);
        copyLinkElement.innerText = "link copied!"
    }
</script>

<style>
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
</style>
