---
import "../styles/global.css";

import BannerCard from "../components/BannerCard.astro";
import BannerBackground from "../components/BannerBackground.astro";

interface Props {
    title: string;
    album: string;
    artist: string;
    explicit: boolean;
    coverURL: string;
}
---

<!doctype html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet"
        />

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />

        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    </head>
    <body>
        <main class="text-center w-[1200px] h-[630px]">
            <BannerBackground coverURL={Astro.props.coverURL} />
            <div
                class="p-4 flex flex-col justify-center items-center w-full min-h-full relative"
            >
                <h1
                    class="uppercase text-8xl mb-4 w-full px-8"
                >
                    song of the day
                </h1>
                <div class="p-4 w-[48rem] max-w-full min-w-0">
                    <slot />

                    <BannerCard
                        title={Astro.props.title}
                        album={Astro.props.album}
                        artist={Astro.props.artist}
                        explciit={Astro.props.explicit}
                        coverURL={Astro.props.coverURL}
                    />
                </div>
            </div>
        </main>
    </body>
</html>
