---
import "../styles/global.css";

import Card from "../components/Card.astro";

// import { fetchSpotifyToken, fetchRandomTrack } from "../scripts/spotify-api";

// const token = await fetchSpotifyToken();
// const randomSong = await fetchRandomTrack(token);

const title = Astro.url.searchParams.get('title') || 'title';
const album = Astro.url.searchParams.get('album') || 'title';
const artist = Astro.url.searchParams.get('artist') || 'title';
const coverURL = Astro.url.searchParams.get('coverURL') || '/fallback.png';
---

<!doctype html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet"
        />

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <meta name="generator" content={Astro.generator} />
        <title>song of the day - {title}</title>
        <meta name="description" content=`${title} - ${album} - ${artist}` />
        <meta content="#fff8ab" data-react-helmet="true" name="theme-color" />
        <meta content={coverURL} property="og:image" />
    </head>
    <body>
        <main class="text-center">
            <div
                class="bg-no-repeat bg-cover bg-center w-screen h-screen"
                style="backgroundImage: url(/fallback.png);"
                id="background"
            >
                <div
                    class="flex justify-center items-center backdrop-blur-[128px] h-screen bg-primary"
                >
                    <div class="max-w-2xl h-5xl p-4">
                        <slot />
                        <Card />
                        <p class="mt-8 mb-2">
                            <small
                                >&copy; 2024 <a
                                    href="https://taxevaiden.pages.dev"
                                    >taxevaiden</a
                                ></small
                            >
                        </p>
                    </div>
                </div>
            </div>
        </main>
    </body>

    <script>
        const spotifyAPI = import.meta.env.PUBLIC_SPOTIFY_API;

        const response = await fetch(
            spotifyAPI
        );
        const randomSong = await response.json();

        const title = randomSong.title as string;
        const album = randomSong.album as string;
        const artist = randomSong.artist as string;
        const coverURL = randomSong.coverURL as string;

        const bgElement = document.getElementById(
            "background"
        ) as HTMLDivElement;
        bgElement.style.backgroundImage = `url(${coverURL})`;

        const url = new URL(window.location.href);
        url.searchParams.set('title', title);
        url.searchParams.set('album', album);
        url.searchParams.set('artist', artist);
        url.searchParams.set('coverURL', coverURL);
        window.history.pushState({}, '', url); 
        
    </script>
</html>
