---
import "../styles/global.css";

import Card from "../components/Card.astro";

// import { fetchSpotifyToken, fetchRandomTrack } from "../scripts/spotify-api";

// const token = await fetchSpotifyToken();
// const randomSong = await fetchRandomTrack(token);

const response = await fetch('https://spotify-api-handler.aideniscool473.workers.dev/');
const randomSong = await response.json();
---

<!doctype html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet"
        />

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <meta name="generator" content={Astro.generator} />
        <title>song of the day - {randomSong.title}</title>
        <meta
            name="description"
            content=`${randomSong.title} - ${randomSong.album} - ${randomSong.artist} - get a cool new song everyday. open source.`
        />
		<meta content="#fff8ab" data-react-helmet="true" name="theme-color" />
		<meta content={randomSong.coverURL} property="og:image" />
    </head>
    <body>
        <main class="text-center">
            <div
                class="bg-no-repeat bg-cover bg-center w-screen h-screen"
                style=`background-image: url(${randomSong.coverURL});`
            >
                <div
                    class="flex justify-center items-center backdrop-blur-[128px] h-screen bg-primary"
                >
                    <div class="max-w-2xl h-5xl p-4">
                        <slot />
                        <Card
                            coverURL={randomSong.coverURL}
                            album={randomSong.album}
                            title={randomSong.title}
                            artist={randomSong.artist}
                            id={randomSong.id}
                        />
                        <p class="mt-8 mb-2">
                            <small
                                >&copy; 2024 <a
                                    href="https://taxevaiden.pages.dev"
                                    >taxevaiden</a
                                ></small
                            >
                        </p>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
